body {
    font-family: sans-serif;
}
header {
    height: 100px;
    ackground-image: linear-gradient(to right, #C71616, #0C6D27, #E8A700, #C71616);
}
.hh {
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    padding-top: 35px;
    ox-shadow: 5px 5px 5px 5px black; 
    font-family: extra bold italic, sans-serif;
}
header {
    background: url("https://krot.info/uploads/posts/2022-02/1645042203_1-krot-info-p-appetitnii-fon-1.jpg");
}
a {
    text-decoration: none;
    margin-right: 100px;
    text-align: center;
    ackground-color: #C71616;
    color: #0C6D27;
    padding: 7px;
    margin-top: 80px;
    order: 3px solid #C71616;
}
nav {
    margin-top: 20px;
    text-align: center;
    
}
h1 {
    text-align: center;
    padding-top: 10px;
}
a:hover {
    olor: white;
}
.interes {
    background-color: #E8A700;
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}
p {
    text-align: center;
    color:#0C6D27;
}
article {
    background-color: white;
    float: left;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 60px;
    box-shadow: 0 0 10px 5px grey;
    padding-bottom: 0px;
    margin-top: 50px;
}
.popular {
    background-color: white;
    margin-bottom: 20px;
    display: inline-block;
}
article:hover {
    color: ;
}
img {
    
}
.price {
    color: black;
}
footer {
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    text-align: left;
    
}
.ff {
    color: white;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
    .aa {
    text-decoration: none;
    margin-right: 0px;
    text-align: center;
    ackground-color: #C71616;
    color: #0C6D27;
    padding: 7px;
    margin-top: 80px;
    order: 3px solid #C71616;
}
.vvv {
    margin-top: 30px;
    display: inline-block;
    padding-right: 30px;
    margin-right: 40px;
}
.im {
     background-color: #AE0101;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}
.ah {
    background-color: white;
    color: black;
    
}
.ah:hover {
    color: black;
}
.image {
    background-color: white;
    color: #E8A700;
    display: inline-block;
}
.eda {
    color: #004614;
}
article:hover {
    ransform: scale(1.5);
    transition: 1s linear;
}
h3 {
    padding-top: 5px;
}
a:hover {
    color: black;
}
.rr {
    text-align: center;
    background-color: #E8A700;
    color: black;
    padding: 5px;

}
